<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ g.cdn }}/admin.css" />
	<script src="{{ g.cdn }}/admin.js" defer></script>
	<title>{{ g.hunt.name }}</title>
</head>
<body>
	{% set cat='error' %}
	{% set tag='h3' %}
	{% include "flash.html" %}
	<ul class="list">
		<li><a href="/admin">Hunts</a>
			<ul class="list">
				<li>↪ {{ g.hunt.name }} <button id="show-edit-btn">✏️</button>
					<form class="form-grid" id="edit-container" action="/adminhunt" method="post">
						{% include "adminhuntform.html" %}
						<div class="form-submit">
						<input type="submit" name="action" value="Delete" class="btn-delete" onclick="return confirm('Are you sure you want to delete this hunt?')"/>
						<input type="submit" name="action" value="Update" class="btn-update" />
						</div>
					</form>
					<ul class="list">
						<li>↪ Rounds <button id="show-add-btn">➕</button></h1>
						<form class="hidden form-grid" id="add-container" action="/adminround" method="post">
							{% include "adminroundform.html" %}
							<div class="form-submit">
							<input type="submit" value="Create" class="btn-update" required />
							</div>
						</form>
						<div class="logs">
							<table>
								<tr>
									<th>Order</th>
									<th>Slug</th>
									<th>Name</th>
									<th>Unlock Time</th>
								</tr>
								{% for round in rounds %}
								{% with roundSlug=round.key.string_id() %}
									<tr>
										<td class="right">{{ round.order }}</td>
										<td><a href="/adminround?round={{ roundSlug }}">{{ roundSlug }}</a></td>
										<td><a class="live" href="/puzzles/{{ roundSlug }}" target="_blank">{{ round.name }}</a></td>
										{% if round.unlockTime %}
											<td class="date">{{ round.unlockTime }}</td>
										{% else %}
											<td></td>
										{% endif %}
									</tr>
								{% endwith %}
								{% endfor %}
							</table>
						</div>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</body>
</html>
