<input type="hidden" name="timezone" class="timezone"/>
<div class="form-row">
<label title="Path in the url, e.g. round1" class="required">Slug</label>
{% if roundSlug %}
<input type="text" name="slug" value="{{ roundSlug }}" readonly />
{% else %}
<input type="text" name="slug" required />
{% endif %}
</div>
<div class="form-row">
<label title="Index of the round in the hunt" class="required">Order</label><input type="number"  name="order" step="1" value="{{ round.order }}" required>
</div>
<div class="form-row">
<label class="required">Name</label><input type="text" name="name" value="{{ round.name }}" required />
</div>
<div class="form-row">
<label title="Time when round is unlocked">Time-based Unlock</label><div><input type="datetime-local" name="unlockTime" class="datetime" value="{{ round.unlockTime }}" /><span class="zone"></span></div>
</div>
<div>
	Puzzles unlocking this round <button type="button" id="add-round-puzzle">+</button>
	<div class="form-grid" id="unlockRoundPuzzles">
	</div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
	var puzzleCount = 0;
	var huntPuzzles = {{ huntPuzzles|tojson }};

    for (puzzle of {{ round.unlockPuzzles|tojson }}) {
    	addPuzzleSelection(++puzzleCount, 'unlockRoundPuzzles', huntPuzzles, puzzle);
    }

    document.getElementById('add-round-puzzle').addEventListener('click', () => addPuzzleSelection(++puzzleCount, 'unlockRoundPuzzles', huntPuzzles));
});
</script>

